.container {
  display: flex;
  align-items: center;
}

.avatar {
  border-radius: 9999px;
  height: 49px;
  width: 49px;
}

/* cuando el avatar esta acompañado de una etiqueta strong añadele margin */
.avatar + strong {
  margin-top: 8px;
}
